.block-editor-block-list__block {
  width: fit-content;
  outline: none !important;
}

.image-compare-block {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;

  .image-compare__preview {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    .image-compare__after-wrapper {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 2;
    }
  }

  .image-compare__slider {
    position: absolute;
    background-color: white;
    z-index: 10;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);

    &.horizontal {
      width: 4px;
      height: 100%;
      cursor: col-resize;

      &::before {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        background: white;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
      }
    }

    &.vertical {
      width: 100%;
      height: 4px;
      cursor: row-resize;

      &::before {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        background: white;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
      }
    }
  }
}